@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-tavern-900 text-stone-200 font-serif;
    background-image: url('https://www.transparenttextures.com/patterns/dark-wood.png');
  }
}
